.fix {
  margin: 0 !important;
}

.ui-autocomplete {
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.ui-autocomplete:not(:focus) a {
  color: black;
  background: none;
  border: none;
  text-decoration: none;
}

.ui-menu .ui-menu-item {
  margin-top: 10px;
}

.js input.form-autocomplete {
  background-image: none;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: none;
}

#block-useraccountmenu ul {
  list-style: none;
  padding: 0;
}

#block-useraccountmenu ul a {
  color: green;
}

html {
  scroll-behavior: smooth;
}

.user-form .form-checkbox-input div {
  width: 100%;
  height: 100%;
}

.user-form .form-checkbox-input div input {
  width: 100%;
  height: 100%;
}

.webform-submission-student-registration-form input {
  margin: 0 !important;
}

.webform-submission-teacher-registration-form input {
  margin: 0 !important;
}

.article-body .my-3 img {
  max-width: 100%;
}

.article-body .my-3 iframe {
  width: 100%;
}

#edit-field-referral-url-0-value {
  max-width: 100%;
  height: 70px;
  border-radius: 6px;
  background: white;
  padding: 10px;
  cursor: text;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
