<form name='om_tbc_payment_client' action='https://ecommerce.ufc.ge/ecomm2/ClientHandler' method='POST'>
      <input type='hidden' name='trans_id' value="{{ id }}">
</form>
{{ attach_library('om_tbc_payments/om_tbc_payments') }}
