<div class="col-12 col-xl-4">
    <div class="card ml-0 ml-xl-4 mt-2 mt-sm-4 mt-xl-0">
        <div
            class="card-header font-size-4 text-success text-uppercase d-flex px-3 px-xl-4 border-0"
        >
            {{ content.field_title }}
        </div>
        <div class="card-body px-3 py-0 px-xl-4">
            <ul class="list-group list-group-flush border-top">
                {% for key, age_group in content.field_age_group_list['#items'].getValue %}
                    <li
                    class="list-group-item d-flex align-items-center px-0 py-3"
                >
                      <span
                          class="font-size-6 font-size-xl-7 text-dark-silver mr-2 mr-xl-3"
                      >{{ key + 1 }}</span
                      >
                    <div class="d-flex w-100 align-items-center">
                        <span
                            class="text-success font-size-3 font-size-xl-4 text-uppercase font-weight-bold ml-auto"
                        >{{ age_group.value }}</span
                        >
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
