<div class="timeline-list-item">
    <div class="text-xl-center px-6 py-2 p-xl-4 text-white timeline-tile">
        <span class="timeline-tile-label text-uppercase">{{ content.field_title }}</span>
        {{ content.field_description }}
    </div>
</div>
