<li class="w-100 w-sm-50 w-xl-25">
              <span
                  class="{{ data.icon_class }} rounded position-relative h-100 align-items-center mx-1 mx-sm-3 pt-4 px-3 d-flex flex-column"
              >
                <img
                    src="{{ file_url(data.img_uri) }}"
                    width="77"
                    class="mb-2"
                />
                <span class="mt-auto mb-3">{{ content.field_title }}</span>
              </span>
</li>
