<section class="bg-subjects pb-2 pb-md-5">
    <div class="container">
        <h5 class="text-uppercase text-success text-center py-4 py-md-5 m-0">
            {{ content.field_title }}
        </h5>
        <ul class="d-flex list-unstyled mx-sm-n3 flex-wrap flex-xl-nowrap">
            {{ content.field_icon_item }}
        </ul>
    </div>
</section>
