{#
/**
 * @file
 * Default theme implementation for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if  data.preview %}
    <h5 class="form-label">Cover Photo</h5>
  {% endif %}
  <div class="mb-2 ml-4">
    <div class="row no-gutters">
      <div class="media">
        {{ data.preview }}
        <div class="media-body ml-3">
          {{ data|without('preview', 'remove_button', 'filename') }}
          <div class="row">
            <button class="btn">
              {{ data.remove_button }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
